<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8" />
  <title>🤔 Ask me</title>
  <link type="text/css" rel="stylesheet"
        href="{{ url_for('static',
              filename='home.css')}}" />
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  
  <div class ="topnav">
    <a href="#home" id='test'>Home</a>
    <a href="#about" id ='test'>About</a>
  </div>
    
    <div id="home"></div>
    <div class=Title>
      <!--<h1>Ask.me</h1>-->
      <h1 class="t" id="a" >A</h1><h1 class="t" id="s">s</h1><h1 class="t" id="k">k</h1><h1 class="t" id="d">.</h1><h1 class="t" id="m">m</h1><h1 class="t" id="e">e</h1>
    </div>
    
    <!--
    <form class="SearchBox" action="/" method="POST">
      <input id="search" type="text" placeholder="Ask me a question ..." name="search">
      <button id="ask" type="submit"><i class="fa fa-search"></i></button>
    </form>
    -->
    <div class="box">
      
        <form class="container" action="/" method="POST">
          <input type="search" id="search" placeholder="What do you want to know ?" />
          <button class="icon"><i id="ic" class="fa fa-search"></i></button>
        </form>
      
    </div>
    
    <!--<form onsubmit="event.preventDefault();" role="search" class="ouf">
  
      <input id="search" type="search" placeholder="Search..." autofocus required />
      <button id="ask" type="submit">Ask</button>    
    </form>-->
    {% if answer %}
    <p class="text-danger float-right">{{ answer }}</p>
    {% endif %}

    <div class="AnswerBox" id="ans">
      <p id="ans">Display the answer here  </p>

    </div>
<!-------------------------------------------------------------------------------------->

    <div class="AboutBox" id="about">
      <h3>🤔</h3>
      <h2>About us</h2>
      
      <p> 
        __
        <br><br>
        
        Pierre GONCALVES <br> Frederic ASSMUS <br> Axel DIDIER <br> 
        <br>
        M2 NLP - Université de Lorraine - 2020 
        <br><br>
        __
      </p>
    </div>

</body>
</html>