<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8" />
  <title>🤔 Ask me</title>
  <link type="text/css" rel="stylesheet"
        href="{{ url_for('static',
              filename='home.css')}}" />
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  
  <div class ="topnav">
    <a href="#home" id='test'>Home</a>
    <a href="#about" id ='test'>About</a>
  </div>
    
    <div id="home"></div>
    <div class=Title>
      <!--<h1>Ask.me</h1>-->

      <!--<h1 class="t" id="a" >A</h1><h1 class="t" id="s">s</h1><h1 class="t" id="k">k</h1><h1 class="t" id="d">.</h1><h1 class="t" id="m">m</h1><h1 class="t" id="e">e</h1>
    </div>-->
  
    <div class="tt">
      <h1 class="t" id="a" >A</h1><h1 class="t" id="s">s</h1><h1 class="t" id="k">k</h1><h1 class="t" id="d">.</h1><h1 class="t" id="m">m</h1><h1 class="t" id="e">e</h1>
      </div>
      <div class="tt2">
      <!--<h1 class="t" id="a" >A</h1><h1 class="t" id="s">s</h1><h1 class="t" id="k">k</h1><h1 class="t" id="d">.</h1><h1 class="t" id="m">m</h1><h1 class="t" id="e">e</h1>-->
    </div>
    </div>
    <!--
    <form class="SearchBox" action="/" method="POST">
      <input id="search" type="text" placeholder="Ask me a question ..." name="search">
      <button id="ask" type="submit"><i class="fa fa-search"></i></button>
    </form>
    -->


    <div class="box">
        <form class="container" action="/" method="POST">
          {% if question %}
          <input type="search" id="search" placeholder="What do you want to know ?" value="{{ question }}" name="search">
          {% else %}
          <input type="search" id="search" placeholder="What do you want to know ?" name="search">
          {% endif %}
          <button class="icon" onclick="ShowLoading()" type="submit"><i id="ic" class="fa fa-search"></i></button>
        </form>
      
    </div>
    
    <script>
      function HideShow() {
        var x = document.getElementById("context");
        var b = document.getElementById("showButton");
        var u = document.getElementById("URL");
        if (x.style.display === "none") {
          x.style.display = "block";
          u.style.display = "block";
          b.innerHTML = "Hide Details"
        } else {
          x.style.display = "none";
          u.style.display = "none";
          b.innerHTML = "Show Details"
        }
      }
      function ShowLoading() {
        var x = document.getElementById("load");
        var c = document.getElementById("context");
        var b = document.getElementById("showButton");
        var u = document.getElementById("URL");
        var a = document.getElementById("answer");
        x.style.display = "block";
        c.style.display = "none";
        b.style.display = "none";
        u.style.display = "none";
        a.style.display = "none";

      }  
    </script>


    <div class="AnswerBox">
        <img src="static/img/loading.gif" id="load" style="display:none;">
      	{% if answer %}
      		<p id="answer" style="display:block;">{{ answer }}</p>
      	{% endif %}
  		
    </div>
    <div class='ContextBox'>
    	{% if answer %}
      <p id="context" style="display:none;">{{ context }}</p>
      <a href="{{ url }}" target="_blank" id='URL' style="display:none;">{{ url }}</a>
      <div class="showButton">
        <button id='showButton' onclick="HideShow()" >Show Details</button>
      </div>
      {% endif %}
      
    </div>
<!-------------------------------------------------------------------------------------->
    <!--  https://loading.io/ -->
    <div class="titleAbout">
      <h3 id=>🤔</h3>
      <h2>About us</h2>
    </div>

    <div class="AboutBox" id="about">
      
        <div class="AboutProject">
          <div class="AboutProjecth2">
            <h2>Project</h2>
          </div>

          <div class="ProjectDescription">
            Askme is a Question Answering model built on the Stanford Question Answering Dataset (SQuAD) with a fine-tuned BERT. Askme is able to automatically answer factual questions without being aware of the context. He will find the information in Wikipedia and take the possible best answer. To try it, just type a question on the search bar. <br><br>
            Question Answering is a computer science discipline within the fields of information retrieval and natural language processing (NLP). We created this application as part of our Software project during our 2nd year of MSc Degree in Natural Language Processing. <br><br>
            Libraries : Pytorch, Transformers, NLTK, SpaCy, BERT, Wikipedia API, Flask framework. <br><br>
            M2 NLP - Université de Lorraine - 2020
          </div>
        </div>

        <div class="AboutTeam">
          <div class="AboutTeamh2">
            <h2>Team</h2>
          </div>

          <div class="TeamMembers">

            <div class="TeamMember1">
              <div class="MemberID">
                <div class="picturealign">
                  <div class="MemberPicture" id="Axelpicture"></div>
                  
                  <div class="MemberLinkedIn">
                  <a href="https://www.linkedin.com/in/didier-xdt/" target="_blank" rel="noopener noreferrer">
                      <div class="icon" id="linkedin"></div>
                  </a>
                  </div>

                </div>

                <h3>Axel Didier</h3>
                <div class="MemberDescription">
                  Jeune français étudiant en Master NLP. Il n'a pas encore donné de description à ajouter.
                </div>

              </div>
            </div>

            <div class="TeamMember2">
              <div class="MemberID">
                <div class="picturealign">
                  <div class="MemberPicture" id="Pierropicture"></div>
                  
                  <div class="MemberLinkedIn">
                  <a href="https://www.linkedin.com/in/pierre-g/" target="_blank" rel="noopener noreferrer">
                      <div class="icon" id="linkedin"></div>
                  </a>
                </div>

                </div>

                <h3>Pierre Goncalves</h3>
                
                <div class="MemberDescription">
                  Jeune français étudiant en Master NLP. Il n'a pas encore donné de description à ajouter.
                </div>

              </div>
            </div>

            <div class="TeamMember3">
              <div class="MemberID">
                <div class="picturealign">
                  <div class="MemberPicture" id="Fredpicture"></div>
                  

                  <div class="MemberLinkedIn">
                    <a href="https://www.linkedin.com/in/frédéric-assmus-389ab9141/" target="_blank" rel="noopener noreferrer">
                        <div class="icon" id="linkedin"></div>
                    </a>
                  </div>

                </div>

                <h3>Frédéric Assmus</h3>
                
                <div class="MemberDescription">
                  Jeune français étudiant en Master NLP. Il n'a pas encore donné de description à ajouter.
                </div>

              </div>
            </div>

          </div>
        </div>

    </div>

</body>
</html>