
/*
==== Search Bar ====
Thx to : https://webdesign.tutsplus.com/tutorials/css-experiments-with-a-search-form-input-and-button--cms-22069
*/
.container{
    
    /*overflow: hidden;*/
    width: 800px;
   
    vertical-align: middle;
    white-space: nowrap;
    
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    
}

.container input#search:focus{
    transition: width 0.2s, margin-left 0.2s;
    box-shadow: none!important;
    border: 2px solid rgb(66, 110, 255);
    margin-left: 65px;
    width: 680px;
    outline: none;
    /*box-shadow: 0 0 0pt 1.5px rgb(66, 110, 255);*/
    
    /* box-shadow: 3px 3px #1e1e1f; */
}
.container input#search{
    transition: width 0.5s, margin-left 0.5s;
    border: 2px solid transparent;
    margin-left: 75px;
    width: 650px;
    height: 50px;
    background: #383b41;
    font-size: 18pt;
    float: left;
    font: normal 18px 'Comfortaa', cursive;
    color: aliceblue;
    padding-right: 60px;
    padding-left: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 40px;
}
.container input#search{
    color: aliceblue;
}
.container button.icon{
    border: 2px solid transparent;
    border-left: none;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    /*outline: 5px solid aliceblue;*/
 
    background: #383b41;
    height: 50px;
    width: 50px;
    color: #65737e;
    opacity: 1;
    font-size: 10pt;
    margin-left: -50px;
    /*transition: all .55s ease;*/
    font-size: 20px;
    transition: background-color 0.4s;
} 
.container:hover button.icon, .container:active button.icon, .container:focus button.icon{
    /*outline: none;*/
    opacity: 1;
    color: aliceblue;
    background-color: #4f525a;
    border-left: none;
    
}
#ic{
    transition: 0.4s;
}
#search::placeholder{
    color: #8d91a3;
}
#search:focus + .icon{
    opacity: 1;
    border: 2px solid rgb(66, 110, 255);
    background-color: #4f525a;
    border-left: none;
    /*background: rgb(66, 110, 255);*/
    color: aliceblue;   
}
#search:focus + a{
    display: none;
}
.container input#search:hover{
    box-shadow: 0 0 10px 3px rgb(33, 33, 36);
    
}

 
.container:hover button.icon:hover{
    transition: 0.2s;
    background: rgb(66, 110, 255)!important;
    cursor: pointer;
    
}

.box{
    display: flex;
    align-items: center;
    justify-content: center
}







html {
    scroll-behavior: smooth;
}
body{
    background-color: #272a30;
    overflow: hidden;
    
}
.t{
    display: inline-block;
    /*color: white;*/
    transition: 2s;
    cursor: help;
}
#a{color: rgb(171, 53, 187)}
#s{color: rgb(221, 83, 83)}
#k{color: rgb(92, 197, 245)}
#d{color: rgb(255, 255, 255)}
#m{color: rgb(83, 221, 90)}
#e{color: rgb(218, 180, 75)}

#a:hover{color: aliceblue ;scale: 1.1; rotate: 10deg; text-shadow: 5px 5px #1e1e1f; transition: 0.1s;}
#s:hover{color: aliceblue; scale: 1.1; rotate: -20deg; text-shadow: 5px 5px #1e1e1f; transition: 0.1s;}
#k:hover{color:  aliceblue; scale: 1.1; rotate: 5deg; text-shadow: 5px 5px #1e1e1f; transition: 0.1s;}
#d:hover{color: aliceblue; scale: 1.1; rotate: 0deg; text-shadow: 5px 5px #1e1e1f; transition: 0.1s;}
#m:hover{color: aliceblue; scale: 1.1; rotate: 10deg; text-shadow: 5px 5px #1e1e1f; transition: 0.1s;}
#e:hover{color:  aliceblue; scale: 1.1; rotate: -10deg; text-shadow: 5px 5px #1e1e1f; transition: 0.1s;}

.topnav{
     /* Position the navbar at the top of the page */
    width: 100%; 
    position: fixed;
}
.topnav a {
    outline: none;
    /*float: right;
    display: block;*/
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /*font-size: 28px;*/
    font: normal 24px 'Comfortaa', cursive;
    transition: 0.4s;
}
  
  /* Change the color of links on hover */
.topnav a:hover {
    color: #2196F3;

    transition: 0.1s;
    /*text-shadow: 3px 3px #1e1e1f;*/

}

  /* Style the "active" element to highlight the current page */
.topnav a:active {
    color: #1378d6;
}

.Title{
    color: aliceblue;
    font: bold 70px 'Comfortaa', cursive;
    width: 100%;
    height: 350px;
    text-align:center;
    display:block;   
}

.AnswerBox{
    padding-top: 40px;
    height: 350px;
    width: 650px;
    margin: auto;
    color: aliceblue;
    font: bold 20px 'Comfortaa', cursive;
    align-items: center;   
}
/*#search:hover + #ans{
    border: 2px solid rgb(177, 177, 177);
    visibility: hidden;
    display: none;
}*/



/* ===============================================================*/
.AboutBox{
    width: 400px;
    align-items: center;
    color: aliceblue;
    font: bold 20px 'Comfortaa', cursive;
    text-align: center;
    margin: auto;
    padding-bottom: 100px;
    display:block; 
}

h3{
    font-size: 50px;
}












